
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    max-width:1140px;
    margin: 0 auto;
    padding:0 15px
}

.all-head{
    position: fixed;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-content: center;
    align-items: center;
    min-height: 80px;
    flex-wrap: wrap;
    
}
.nav-sec{
    display: flex;
    list-style: none;

}

.nav-sec li{
    padding: 1.85rem 2.185rem;
}
.nav-sec a{
    text-decoration: none;
    color: black;

}
.nav-sec :hover{
    background: #ee5057;
    color: white;

}
.logos {
    display: flex;
    align-items: center;
    
    
}
.logos h1{
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 5px;
    text-transform: capitalize;
}
#menu-toggle{
    display: none;
}
.menu-toggle.open::before{
    content: "✖";
    display: none;
    
}
.forms-back{
    background-image: url(https://www.tooplate.com/templates/2095_level/img/bg-img-1.jpg);
    height: 515px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 80px;
}
.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    min-height: 80vh;
}
.all-list{
    background-color: aliceblue;
        padding: 30px 40px;
}


.lists{
    display: flex;
    margin-bottom: 10px;

}
.lists .inputs,.selections{
    border: 1px solid black;
    width: 100%;
    margin-left: 10px;
    padding: 5px;
    align-content: center;
    display: flex;
}
.lists input,select{
    background: transparent;
    border: none;
    text-decoration: none;
    outline: none;
    text-align: center;
    width: 100%;
}

.inputs, .selections .fa-solid{
    font-size: 1.5em;
}
.fa-solid .child{
    
}














@media (max-width:992px){
.container{
    max-width: 940px;
}

    #menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        color:#ee5057;
        margin: 10px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 0;
        border: 1px solid #ee5057;
        padding: 4px 12px;
    }

    .main{
        height: 80px;
    }
    .nav-sec{
        display: none;
    }
    .nav-sec.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;  
        background-color: rgb(255, 255, 255);
        width: 180px;
        height: 172.792px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) 
      }
    .nav-sec li{
        padding:  0.75rem 0.9375rem ;
    }
    .nav-sec a{
        width: 149.333px;
        height: 19.128px;
    }

}



